Java Automatization/src/XML/BinaryTree.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="BinaryTree">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Node" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Value" type="xs:int"/>
                            <xs:element name="Left" type="xs:string" minOccurs="0"/>
                            <xs:element name="Right" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
